= f.input :content, :as => :kindeditor, :label => false, :input_html => { :themeType => 'swift',:width=>"896px",:height => "400px", :class => "post-text",:allowImageRemote => false, :label => false},:required => false

.form-actions
  = f.button :submit, "立即发表", class: "btn btn-large btn-primary"