<p>您好 <%= @resource.email %>!</p>

<p>你可以通过点击以下链接来重设您在 Swift Home 的密码.</p>

<p><%= link_to '点我重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您不需要重置密码请忽略此邮件</p>
<p>点此链接前，您的密码将不会被重置</p>
